<!DOCTYPE html>
<html>
    <head>
    <include file="Public:header" />
    <link href="__PUBLIC__/frontend/css/user.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
		#TB_closeAjaxWindow{ width:48px; height:10px; overflow:hidden;}
    </style>
</head>
<body>
    <div class="lightbox" style="text-align: center;font-size: 15px;margin-top: 60px">
        <div style="margin: 60px 0;">
            身份认证后才能添加银行卡哦！<a style="color:blue" href="{:U('Authhome/index')}">去认证</a>
        </div>
    </div>
</body>
</html>
