@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body {
	font: 14px tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",宋体;
	color:#474747;
	background:#f7f7f6;
}
fieldset,img{ border:0;}
input,lable,select,option,textarea,button,fieldset,legend{ font-family: "微软雅黑", Arial, sans-serif;}
input{vertical-align:middle; border:1px solid #999999; line-height: normal;padding-left:5px;}
ul,li{ list-style-type:none;}
.f_l{ float:left;}
.f_r{ float:right;}
.clear{ clear:both;}
a{color: #666; text-decoration:none; background:none;}	
a:hover{ color: #333; text-decoration: none;}
body { behavior:url("csshover.htc");}
.clearfix { clear: both;}
a:-webkit-any-link { text-decoration: none;}
html{overflow-y:scroll;} 

.go-top {
	position:fixed;
	bottom:50px;
	right:0px;
	width:50px;
	height:50px;
	background:url(../images/style.png) no-repeat 0px 0px;

}

.go-top:hover {
	 background:url(../images/style.png) no-repeat -51px 0px;
	 
}
/*头部样式*/

#top_conbg { width:100%; background:#f7f7f6; height:28px;border-bottom:1px solid #d6d6d6;}
#top_con { width:1000px; margin:0 auto;}
#top_con ul { float:right;}
#top_con ul li { float:left; padding:0 12px; background:url(../images/top_con_fg.gif) no-repeat left 10px; line-height:28px;}
#top_con ul .no_fg { background:none; padding:0 7px; color:#ed994b;}

.hengtiao{ width:100%; height:30px; background:#ed994b}
.xiaoxi_kj{ width:1000px; height:30px; line-height:30px; margin:0 auto; text-align:right;}
.xiaoxi_kj a{ color:#FFF; margin-left:15px;}
.xiaoxi_kj a:hover{ color:#E15616;}
.top_bg{ width:100%; height:auto; background: #fff; border-bottom:solid 1px #d6d6d6; }
.top { width:1000px; height:90px; margin:0 auto; padding-top:25px;}
.jinrongbao_logo{ width:195px; height:67px; float:left;}
.daohang{ width:550px; float:left; padding-top:45px; font-size:18px; margin-left:30px; display:inline;}
.daohang ul li{ float:left; margin-left:38px;display:inline;}
.wenhou{ float:right; text-align:right; color:#999; margin-top:13px; display:inline;}
.wenhou p{ color:#ed994b; font-size: 24px; margin-top:10px;}

/*头部样式*/


/*底部*/
.footer { width:100%; background:#E8E9EB; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;}
.footer_con { width:1000px; margin:0 auto; position:relative;}
.footer_con_left { float:left; width:450px; padding:30px 50px 0 0;}
.footer_con_left h1 { font-size:15px; margin-bottom:15px;}
.footer_con_left ul { overflow:hidden; margin-bottom:25px; width:400px;}
.footer_con_left ul li { float:left; margin:0 10px 10px 0;}
.footer_con_left ul li a {color:#175d7f;}
.footer_con_left ul li a:hover { color:#2394cb;}
.footer_con_right { float:left; width:500px; padding:30px 0 0 0; }
.footer_con_right ul { overflow:hidden; width:500px; margin-bottom:20px;}
.footer_con_right ul li { float:left; margin-right:20px;}
.footer_con_right ul li a { color:#175d7f;}
.footer_con_right ul li a:hover { color:#2394cb;}
.footer_con_right p { margin-bottom:10px;}

.footer_con_right .foot_01{ float:left; width:22px; height:23px; background:url(../images/ico/foot_01.png) no-repeat; margin-right:15px;}
.foot_01:hover{background:url(../images/ico/foot_01.png) no-repeat -22px 0;}
.foot_02{ float:left; width:38px; height:27px; background:url(../images/ico/foot_02.png) no-repeat; margin-right:15px;}
.foot_02:hover{background:url(../images/ico/foot_02.png) no-repeat -38px 0;}
.foot_03{ float:left; width:78px; height:27px; background:url(../images/ico/foot_03.png) no-repeat; margin-right:15px;}
.foot_03:hover{background:url(../images/ico/foot_03.png) no-repeat 0 -27px;}
.foot_04{ float:left; width:63px; height:27px; background:url(../images/ico/foot_04.png) no-repeat; margin-right:15px;}
.foot_04:hover{background:url(../images/ico/foot_04.png) no-repeat 0 -27px;}
.foot_05{ float:left; width:27px; height:27px; background:url(../images/ico/foot_05.png) no-repeat; margin-right:15px;}
.foot_05:hover{background:url(../images/ico/foot_05.png) no-repeat -27px 0;}
.foot_06{ float:left; width:25px; height:27px; background:url(../images/ico/foot_06.png) no-repeat; margin-right:15px;}
.foot_06:hover{background:url(../images/ico/foot_06.png) no-repeat -25px 0;}
.foot_07{ float:left; width:39px; height:27px; background:url(../images/ico/foot_07.png) no-repeat; margin-right:15px;}
.foot_07:hover{background:url(../images/ico/foot_07.png) no-repeat 0 -27px;}
.foot_08{ float:left; width:75px; height:27px; background:url(../images/ico/foot_08.png) no-repeat 0 -27px;}
.foot_08:hover{background:url(../images/ico/foot_08.png) no-repeat;}


.denglu_but {
    background: url("../images/denglu_but.gif") no-repeat;
    float: left;
    height: 35px;
    width: 210px;}
.denglu_but:hover { background: url("../images/denglu_hover_but.gif") no-repeat;}

.list_chakan_but { background:url("../images/chakan_but_bg.gif") no-repeat; float:right; height:25px; width:57px; }
.list_chakan_but:hover { background: url("../images/chakan_but_hover_bg.gif") no-repeat;}
.jrb_but01 { background:url("../images/jrb_but01_bg.gif") no-repeat; float:left; height:35px; line-height:35px; width:160px; font-size:16px; text-align:center; color:#fff; cursor:pointer; border:0; padding:0 !important;}
.jrb_but01:hover { background: url("../images/jrb_but01_hover_bg.gif") no-repeat;color:#fff;}
.jrb_but03 { width:65px; height:25px; float:right; background:url(../images/jrb_but03_bg.gif) no-repeat; font-size:14px; color:#fff; text-align:center; line-height:25px;cursor:pointer; border:0; padding:0 !important;}
.jrb_but03:hover { background:url("../images/jrb_but03_hover_bg.gif") no-repeat;color:#fff;}

.jsq_but03 { background:url(../images/jrb_but03_bg.gif) no-repeat; font-size:12px; color:#fff; text-align:center; line-height:25px;cursor:pointer; border:0; padding:5px 3px; margin-left:10px;}
.jsq_but03:hover { background:url("../images/jrb_but03_hover_bg.gif") no-repeat;color:#fff;}

.jsq_but04 { background:url(../images/jrb_but03_bg.gif) no-repeat; font-size:12px; color:#fff; text-align:center; line-height:25px;cursor:pointer; border:0;margin-right:105px; float:right; width:65px; height:25px; font-weight:bold;}
.jsq_but04:hover { background:url("../images/jrb_but03_hover_bg.gif") no-repeat;color:#fff;}

.jrb_but02 { background:url("../images/jrb_but02_bg.gif") no-repeat; float:left; height:35px; line-height:35px; width:120px; font-size:16px; text-align:center; color:#fff; cursor:pointer; border:0;padding:0 !important;}
.jrb_but02:hover { background: url("../images/jrb_but02_hover_bg.gif") no-repeat;color:#fff;}

.jrb_but04 { background:url("../images/jrb_but03_bg.gif") no-repeat; float:left; height:25px; line-height:25px; width:65px; font-size:14px; text-align:center; color:#fff; cursor:pointer; border:0;padding:0 !important;}
.jrb_but04:hover { background: url("../images/jrb_but03_hover_bg.gif") no-repeat;color:#fff;}

.jrb_title { font-size:16px; margin-bottom:12px; text-indent:30px; background:url(../images/title01_bg.gif) no-repeat 0 2px; height:27px;}
.jrb_title span { margin-left:30px; vertical-align:-2px; font-weight:normal;}
.jrb_title span a { font-size:12px; color:#175d7f;}
.jrb_title span a:hover { color:#2394cb;}




.yinying_jrb{ width:100%; height:5px; background:url(../images/yinying_index.png) repeat-x; position: absolute; top:145px; margin:0 auto;}
.yinying_jrb2{ width:100%; height:5px; background:url(../images/yinying_jrb2.jpg) repeat-x; margin:0 auto;}


/*弹窗*/
.touxiang_tc{ margin-left:25px; color:#474747;}
.touxiang_tc dl{ width:570px; height:auto;}
.touxiang_tc dt{ height:auto; font-weight:bold; margin-bottom:20px; margin-top:20px; border:solid 1px #e6e6e6; padding:10px 10px 5px 10px;}
.touxiang_tc dt p{ font-weight:normal;}
.touxiang_tc dt img{ vertical-align:middle; margin-right:5px;}
.touxiang_tc dd{line-height:25px;}
.touxiang_tc dd b{ color:#3d89b4;}
.touxiang_tc dd span{ color:#F00; font-weight:normal;}
.touxiang_tc a{ color:#3d89b4 !important;}

.touxiang_tc ul{padding-left:28px; padding-top:20px; border:solid 1px #e6e6e6; float:left; width:540px;}
.touxiang_tc ul li{ float:left; margin-right:10px; margin-bottom:20px;}

.touxiang_tc02 ul{padding-left:28px; padding-top:20px; border:solid 1px #e6e6e6; float:left; width:540px; position:relative;}
.touxiang_tc02 ul li{ float:left; margin-right:10px; margin-bottom:20px;}

.choose_tc{ width:300px; height:25px; border:0; border-bottom:solid 1px #e6e6e6; color:#999; display:inline; background:none;}
.put_tc{ width:50px; height:25px; background:url(../images/put_icon.png) no-repeat; border:0; cursor:pointer;}

.jindutiao{ width:208px; height:18px; background:url(../images/loadingAnimation.gif) no-repeat 0 5px; margin-left:106px; margin-top:20px; display:none;}
.jindutiao_02{ width:208px; height:18px; background:url(../images/loadingAnimation.gif) no-repeat 0 5px; margin-left:125px; margin-top:125px; display:none;}
.jindutiao_03{ width:208px; height:13px; background:url(../images/loadingAnimation.gif) no-repeat;display:none; position:absolute;top:130px;left:128px;display:none;}
.jindutiao_04{ width:208px; height:13px; background:url(../images/loadingAnimation.gif) no-repeat;display:none; position:absolute;top:25px;left:105px;display:none;}

.jinggao{ width:570px; margin-left:25px; margin-top:20px; float:left; color:#666; line-height:20px;}
.jinggao span{ color:#F00;}
/*弹窗*/


/*金融宝协议*/
.xieyi{ width:435px; height:auto; padding:25px 25px 25px 25px; background:#FFF;}
.xieyi h3{ text-align:center; margin-bottom:25px;}
.xieyi h4{ margin-bottom:25px;}
.xieyi p{ margin-bottom:25px;}
.xieyi ol li{ margin-bottom:25px; list-style-type:decimal; margin-left:20px;}


