<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <include file='Public:header'/>
        <link href="__PUBLIC__/frontend/css/eebao.css" type="text/css"  rel="stylesheet" />
        <style type="text/css">
            .box04_br .cur{color:red;}
            #fundshow{ display:none;}
            #todayMoneyShow{ display:none;}
            #totalMoneyShow{ display:none;}
        </style>
    </head>
    <body>
        <include file='Public:main_nav'/>
        <div class="yinying_jrb2"></div>
        <div class="eeb_box_bg">
            <div class="eeb_box">
                <!--盒子一开始-->
                <div class="eeb_box01">
                    <div class="box01_l">
                        <div class="box01_l_t"><img src="__PUBLIC__/frontend/images/rili_icon.png" class="png_fix" title="可得收益"/>今日可得收益（元）</div>
                        <div class="box01_l_b"  >
                            <div class="box01_l_b"  id="todayMoneyhide"></div>
                            <div class="box01_l_b"  id="todayMoneyShow"><?php if($userData['start_time']+72*3600 < time()):?><?php echo num_format(customRound($userData['fund'] * C('EJRB_LILV')/365)); ?><?php else:?>0.00<?php endif;?></div>
                        </div>
                    </div>
                    <div class="box01_r">
                        <div class="box01_r_t"><img src="__PUBLIC__/frontend/images/rili_icon.png" class="png_fix" style="vertical-align:middle; margin-right:10px; float:left;" title="可得收益"/>
                            <span style="float:left">昨日已得收益（元）</span>
                            <a href="{:U('Help/jisuanqi')}" target="_blank">收益模拟器<img src="__PUBLIC__/frontend/images/wenhao2_icon.png" class="png_fix" style="vertical-align:middle; margin-left:5px;" title="收益模拟器"/></a></div>
                        <div class="box01_r_b" id="fund"  >{$ltincome.fund|num_format}</div>
                        <div class="box01_r_b" id="fundshow"  >{$ltincome.fund|num_format}</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--盒子一结束-->
                <!--2-->
                <div class="eeb_box02">
                    <div class="box02_l">
                        <span>总金额（元）</span>
                        <p id="totalMoney"><?php echo $userData['fund'] + $userData['interest'];?></p>
                        <p id="totalMoneyShow"><?php echo num_format($userData['fund'] + $userData['interest']);?></p>
                    </div>
                    <div class="box02_r">
                        <div class="box02_r_t">
                            <div class="box02_r_tr"><span>当前利率（%）</span><p><?php echo C('EJRB_LILV')*100 ;?></p></div>
                            <div class="box02_r_tl png_fix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>例：</b>存入10万元本金<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当月收益=<span><?php echo num_format(customRound(C('EJRB_LILV')/12*100000)) ;?></span>元</p></div>
                        </div>
                        <div class="box02_r_b png_fix"><a href="{:U('Fund/purchase')}" class="zhuanru_eebao">转&nbsp;入</a><a href="{:U('Fund/out')}" class="zhuanchu_eebao">转&nbsp;出</a><a href="#jihao_eebao" style="float:left; line-height:30px; color:#3d89b4; font-weight:bold;"><img src="__PUBLIC__/frontend/images/guanli_icon.png" style="vertical-align:middle;"  title="查看明细"/>&nbsp;查看明细</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--2-->
                <!--3-->  
                <div class="eeb_box03">
                    <ul>
                        <li><span>本金余额（元）</span><p>{$userData.fund|num_format}</p></li>
                        <li><span>利息余额（元）</span><p>{$userData.interest|num_format}</p></li>
                        <li><span>累计收益（元）</span><p>{$sumincome|num_format}</p></li>
                        <li><span>近一周收益（元）</span><p>{$lwincome|num_format}</p></li>
                        <li><span>近一月收益（元）</span><p>{$lmincome|num_format}</p></li>
                    </ul>
                </div>
                <!--3-->
                <!--4-->
                <div class="eeb_box04" id="jihao_eebao">
                    <div class="box04_t">明细记录</div>
                    <div class="box04_b">
                        <form  action="__SELF__" method="get">
                            <div class="box04_bl">日期：<input name="start_time" value="{$start_time}" type="text" class="Wdate" id="d4311" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\\'d4312\\')||\\'2020-10-01\\'}'});" />&nbsp;-&nbsp;<input class="Wdate" type="text" name="end_time"  value="{$end_time}"  id="d4312"  onFocus="WdatePicker({minDate:'#F{$dp.$D(\\'d4311\\')}',maxDate:'2020-10-01'});" /><button type="submit" class="chaxun_eebao png_fix" ></button></div>
                            <div class="box04_br"><a <?php if(!$direction):?>class="cur"<?php endif;?> href="{:U('Fund/asset')}#list">全部</a>|<a <?php if($direction == 'income'):?>class="cur"<?php endif;?> href="{:U('Fund/asset',array('direction'=>'income'))}#list">收益</a>|<a <?php if($direction == 'in'):?>class="cur"<?php endif;?> href="{:U('Fund/asset',array('direction'=>'in'))}#list">转入</a>|<a <?php if($direction == 'out'):?>class="cur"<?php endif;?> href="{:U('Fund/asset',array('direction'=>'out'))}#list">转出</a></div>
                        </form>
                    </div>
                </div>
                <a id="list"></a>
                <!--4-->
                <!--5-->
                <div class="eeb_box05" id="shouyi">
                    <table>
                        <thead>
                            <tr>
                                <th style=" width:150px;">记录详情</th>
                                <th>操作金额（元）</th>
                                <th>日期</th>
                                <?php if($direction == 'income'):?>
                                <th>当日利率</th>
                                <?php endif;?>
                                <th>本金余额</th>
                                <th>利息余额</th>
                                <th>总金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($data_list AS $key=>$vo):?>
                            <tr>
                                <td>
                                    <?php if($vo['type'] == 1):?>
                                    转入<?php if($vo['status'] == 1):?><span>（审核中）</span><?php endif;?>
                                    <?php elseif($vo['type'] == 2):?>
                                    收益
                                    <?php elseif($vo['type'] == 3):?>
                                    本金转出
                                    <?php else:?>
                                    利息转出
                                    <?php endif;?>
                                </td>

                                <?php if($vo['type'] == 2 || $vo['type'] == 1 ):?>
                                <td class="lvse_color" >+{$vo.fund|num_format}&nbsp;元</td>
                                <?php else:?>
                                <td class="juse_color" >-{$vo.fund|num_format}&nbsp;元</td>
                                <?php endif;?>

                                <?php if($vo['type'] == 2):?>
                                <td>{$vo.op_time|forDate}</td>
                                <?php else:?>
                                <td>{$vo.create_time|forDate}</td>
                                <?php endif;?>

                                <?php if($direction == 'income'):?>
                                <td><?php echo $vo['lilv'] * 100 * 365;?>%</td>
                                <?php endif;?>
                                <td>{$vo.balance|num_format}&nbsp;元</td>
                                <td>{$vo.interest|num_format}&nbsp;元</td>
                                <td><?php echo num_format($vo['balance']+$vo['interest']);?>&nbsp;元</td>
                            </tr>
                            <?php endforeach;?>
                            <?php if(empty($data_list)):?>
                            <tr>
                            	<td colspan="6"><div align="center">暂无记录</div></td>
                            </tr>
                            <?php endif;?>
                        </tbody>     
                    </table>
                    <!--翻页-->
                    <div class="fanye_eebao">
                        <div class="fanye_fr">
                            {$page}
                        </div>
                    </div>
                    <!--翻页-->
                </div>
                <!--5-->
            </div>
            <input type="hidden" id="today" value="<?php echo num_format($userData['fund'] * C('EJRB_LILV')); ?>" />
            <input type="hidden" id="lastTody" value="{$ltincome.fund}" />
            <input type="hidden" id="total" value="<?php echo $userData['fund'] + $userData['interest'];?>" />
        </div>
        <include file='Public:footer'/>
        <script language="javascript" type="text/javascript" src="__PUBLIC__/frontend/js/My97DatePicker/WdatePicker.js"></script>
        <script type="text/javascript">
            today = $('#todayMoneyShow').html();
            total = $('#totalMoney').html();

            base1w = 10000;
            base = 0;

            timer = setInterval(function() {
                //var todayMoney = base1w;
                //var totalMoney = base;
                $('#todayMoneyhide').html(fmoney(base1w, 2));
                $('#totalMoney').html(fmoney(base, 2));
                base1w -= (base1w / 6);
                base += (total / 150);

                if (base1w <= today) {
                    $("#todayMoneyhide").hide();
                    $("#todayMoneyShow").show();
                }
                if (base >= total) {
                    $("#fund").hide();
                    $("#fundshow").show();
                    $("#totalMoney").hide();
                    $("#totalMoneyShow").show();
                }
                if (base >= total && base1w <= 1) {
                    clearInterval(timer);
                }

            }, 20);

            function fmoney(s, n) {
                n = n > 0 && n <= 20 ? n : 2;
                s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
                var l = s.split(".")[0].split("").reverse(), r = s.split(".")[1];
                t = "";
                for (i = 0; i < l.length; i++) {
                    t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
                }
                return t.split("").reverse().join("") + "." + r;
            }
        </script>
    </body>
</html>
