<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <include file='Public:header'/>
        <link href="__PUBLIC__/frontend/css/eebao.css" type="text/css"  rel="stylesheet" />
        <style>
            .box04_br .cur{
                color:red;
            }
        </style>
    </head>
    <body>
        <include file='Public:main_nav'/>
        <div class="yinying_jrb2"></div>
        <div class="eeb_box_bg">
            <div class="eeb_jisuanqi">
                <div class="jsq_top png_fix">
                    <div class="jsq_topl"><img src="__PUBLIC__/frontend/images/zhuanzhang_icon.png" class="png_fix" style=" vertical-align:middle;" title="转账"/>&nbsp;E额宝拥有更高收益，安全可靠，请放心操作</div>
                    <div class="jsq_topr"><img src="__PUBLIC__/frontend/images/fanhui_icon.png" class="png_fix"  style=" vertical-align:middle;" title="返回"/><a href="{:U('Fund/asset')}" style="color:#FFF">&nbsp;返回</a></div>
                    <div class="clear"></div>
                </div>
                <div class="jsq_bottom">
                    <div class="zhuanzhang_l">
                        <form action="{:U('Fund/purchaseConfirm')}" method="post">
                            <ul>
                                <li><span>E额宝本金余额：&nbsp;</span><b>{$euserData['fund']|num_format}</b>&nbsp;元</li>
                                <li><span>金融宝余额：&nbsp;</span><b><?php echo num_format($userData['fund']);?></b>&nbsp;元<i style="font-style:normal;"><a href="{:U('Charge/show')}" target="_blank" style="color:#3d89b4;">&nbsp;&nbsp;【充值】</a></i></li>
                                <?php if($is_set_trade_pass === true):?>
                                <li><span>转入金额：&nbsp;</span><input type="text" name="fund" />&nbsp;元<i style="color:#999; font-style:normal;">（金额不能低于100元，且必须是50的倍数）</i></li>
                                <li><span>交易密码：&nbsp;</span><input type="password" name="safePass" /></li>
                                <li><span>预计收益日期：&nbsp;</span><?php echo forDate(time() + 3600 * 72);?><i style="color:#999; font-style:normal;">（最长不超过72小时）</i></li>
                                <li><span>&nbsp;</span>
                                    <input type="submit" value="" class="zhuanzhang_eebao" />
                                </li>
                                <?php else:?>
                                <span style="margin-left:150px;color:red">转入资金，需要先设置交易密码！ <a href="{:U('Safeinfo/index')}" style="color:blue">去设置 >></a></span>
                                <?php endif;?>
                            </ul>
                            <input type="hidden" name="stop_repeat_submit" value="{$_SESSION['stop_repeat_submit']}" />
                        </form>
                    </div>
                    <div class="zhuanzhang_r">
                        <dl>
                            <dt>E额宝三大优势：</dt>
                            <dd><img src="__PUBLIC__/frontend/images/ggshouyi_icon.png"  style=" vertical-align:middle;" title="E额宝拥有更多收益"/>&nbsp;E额宝拥有更多收益</dd>
                            <dd><img src="__PUBLIC__/frontend/images/ggbaozhang_icon.png"  style=" vertical-align:middle;" title="E额宝安全更保障"/>&nbsp;E额宝安全更保障</dd>
                            <dd><img src="__PUBLIC__/frontend/images/ggtiexin_icon.png"  style=" vertical-align:middle;" title="E额宝服务更贴心"/>&nbsp;E额宝服务更贴心</dd>
                        </dl>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>  
        </div>
        <include file='Public:footer'/>
    </body>
</html>
