<!DOCTYPE html>
<html>
    <head>

    <include file="Public:header" />
    <link href="__PUBLIC__/frontend/css/user.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--头部导航-->
<include file="Public:main_nav" />
<!--头部结束 -->
<div class="yinying_jrb2"></div>
<!--导航栏开始-->
<div class="zhutineirong">
    <include file="Public:left_nav" />
    <!--左边栏结束-->  
    <!--右边栏开始-->
    <div class="right">
        <div class="right_top">
            <div class="touxiang">
                <?php if($user[u_avatar]):?>
                <a href="{:U('Userinfo/index')}"><img src="__UPLOAD__/avatar/{$user[u_avatar]}" width="96px" height="96px" title="头像"/></a> 
                <?php else:?>
                <a href="{:U('Userinfo/index')}"><img src="__PUBLIC__/frontend/images/myjrb_touxiang.jpg" width="96px" height="96px" title="头像"/></a> 
                <?php endif;?></div>
            <div class="yonghu">
                <div class="yonghu_top">
                    <ul>
                        <li><a href="{:U('Userinfo/index')}"><?php echo $_SESSION['username']?></a></li>
                        <?php if($auth[status]==3):?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/shenfen_yz_bg.gif"  alt="实名认证" title="实名认证"  class="png_fix" width="25" height="25"/></a></li>            <?php else: ?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/shenfen_yz_bg02.gif" alt="实名认证"  title="实名认证" class="png_fix"  width="25" height="25"/></a></li> 
                        <?php endif;?>
                        <?php if($user[u_phone_status]==2):?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/shouji_yz_bg.gif"  alt="手机绑定" title="手机绑定" class="png_fix"  width="25" height="25"/></a></li>				<?php else:?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/shouji_yz_bg02.gif"  alt="手机绑定"  title="手机绑定" class="png_fix"  width="25" height="25"/></a></li>			
                        <?php endif;?>
                        <?php if($user[u_email_status]==2):?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/youxiang_yz_bg.gif"  alt="邮箱认证" title="邮箱认证"         class="png_fix"  width="25" height="25"/></a></li>                 <?php else:?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/youxiang_yz_bg02.gif"  alt="邮箱认证"  title="邮箱认证"        class="png_fix"  width="25" height="25"/></a></li>                
                        <?php endif;?>
                        <?php if($user[u_trade_password]!=""):?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/jymm_yz_bg.gif"  alt="提现密码设置"   title="提现密码设置" class="png_fix"  width="25" height="25"/></a></li>  <?php else:?>
                        <li><a href="{:U('Safeinfo/index')}"><img src="__PUBLIC__/frontend/images/jymm_yz_bg02.gif"  alt="提现密码设置"  title="提现密码设置"    class="png_fix"  width="25" height="25"/></a></li> 
                        <?php endif;?>
                    </ul>       
                </div>
                <div class="yonghu_bottom">
                    <ul>
                        <li>
                            信用等级&nbsp;
                            <?php if($credit['symbol'] && $userdata['credit_score'] != 0):?>
                            <img src="__PUBLIC__/frontend/images/xinyong_level_{$credit.symbol}.png" title="信用级别"   style="vertical-align:middle" width="24" height="24"/>
                            <?php else:?>
                            <img src="__PUBLIC__/frontend/images/xinyong_level_F.png"   title="信用级别"  style="vertical-align:middle" width="24" height="24"/>
                            <?php endif;?>
                        </li>
                        <li>
                            <?php if($userdata['credit_score']):?>
                            信用额度：{$credit[limit]|num_format}元&nbsp;<img src="__PUBLIC__/frontend/images/wenhao_info.gif"  title="申请通过的认证越多，可用于借款的信用额度（可借款金额）越大" style="vertical-align:middle" width="18" height="18"/>
                            <?php else:?>
                            信用额度：0.00元&nbsp;<img src="__PUBLIC__/frontend/images/wenhao_info.gif"  title="申请通过的认证越多，可用于借款的信用额度（可借款金额）越大" style="vertical-align:middle" width="18" height="18"/>
                            <?php endif;?>
                        </li>
                        <?php if($credit['symbol'] && $userdata['credit_score']):?>
                        <li class="tishi_jrb">申请通过的认证越多，信用等级越高！<p>最高可提升信用额度{$max_credit_data[limit]|num_format}元。</p></li>
                        <?php else:?>
                        <li class="tishi_jrb">信用等级过低，请&nbsp;<a href="{:U('Authhome/index')}" style="color:#3d89b4">完善认证信息。</a><p>最高可获得{$max_credit_data[limit]|num_format}元的信用额度。</p></li>
                        <?php endif;?>
                    </ul>
                </div>
            </div>
            <div class="zhanghu">
                账户余额:<span><?php echo num_format($userdata[fund]+$userdata['lock_fund']);?></span>&nbsp;元
                <ul style="font-size:14px;">
                  <li>可用金额：<p><b>{$userdata.fund|num_format}</b>&nbsp;元</p></li>
                  <li>冻结金额：<p><b>{$userdata.lock_fund|num_format}</b>&nbsp;元</p></li>
                </ul>
                <ul>
                    <li><a href="{:U('charge/show')}" class="jrb_but03">充&nbsp;&nbsp;值</a></li>
                    <li><a href="{:U('withdraw/show')}" class="jrb_but03">提&nbsp;&nbsp;现</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="right_bottom">

            <div class="jiedaizhanghu_top">
                <b style="float:left; font-weight:normal; color:#666">借贷账户</b><span>待还款总金额：<b>{$daiHuanKuan|num_format}</b>&nbsp;元</span>
            </div>
            <div class="touzi_liebiao_little">
                <table class="touzi_liebiao_conlittle">
                    <thead>
                        <tr>
                            <th>借款标题</th>
                            <th>借款时间</th>
                            <th>借款金额</th>
                            <th>已还金额</th>
                            <th>还款期限</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <foreach name="list" item="v">
                        <tr>
                            <td class="tl_left">
                                <?php if($vo['type'] == 2):?>
                                <img src="__PUBLIC__/frontend/images/shiwu_tubiao.png"  title="有抵押信用标" alt="有抵押信用标"  class="png_fix"/>
                                <?php else:?>
                                <img src="__PUBLIC__/frontend/images/xinyong_tubiao.png"  title="无抵押信用标" alt="无抵押信用标"  class="png_fix"/>
                                <?php endif;?>
                                <img src="__PUBLIC__/frontend/images/quanbao_tubiao.png" title="平台承诺100%保本" alt="平台承诺100%保本" alt="平台承诺100%保本" class="png_fix" />
                                    <span><a href="{:customUrl('Loaninfo/index',array('id'=>$v[id]))}" target="_blank" title="{$v['title']}">{$v['title']}</a></span>

                            </td>
                            <td><?php echo forDate($v[create_time])?></td>
                            <td><?php echo num_format($v[money]) ;?> 元</td>
                            <td><?php echo num_format($v[has_repay_sum]) ;?> 元</td>
                            <td>{$v.expires} 个月</td>
                            <td><a href="{:customUrl('Loaninfo/index',array('id'=>$v[id]))}" target="_blank" class="list_chakan_but"></a></td>
                        </tr> 
                    </foreach>
                    <?php if(count($list) > 5):?>
                      <!--查看更多-->
                        <tr>
                            <td colspan="6"><a href="#" target="_blank" class="list_gengduo_but"></a></td>
                        </tr>
                      <!--查看更多-->
                      <?php endif;?>
                      <?php if(empty($list)):?>
                        <tr>
                          <td colspan="6"><div align="center">无借款记录</div></td>
                        </tr>
                      <?php endif;?>
<!--                    <tr>
                        <td colspan="6"><div align="center"><?php if($pageA):?>{$pageA}<?php else:?>无借款记录<?php endif;?></div></td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
            <!--右边栏结束-->
            <div class="clear"></div>
        </div>
        <div class="right_bottom">
            <div class="jiedaizhanghu_top">
                <b style="float:left; font-weight:normal; color:#666">投资账户</b><span>已投资总金额：<b>{$tzze|num_format}</b>&nbsp;元</span>
            </div>
            <div class="touzi_liebiao_little">
                <table class="touzi_liebiao_conlittle">
                    <thead>
                        <tr>
                            <th>投资项目</th>
                            <th>投资时间</th>
                            <th>投资金额</th>
                            <th>年利率</th>
                            <th>收款期限</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <foreach name="bid" item="v">
                        <tr>
                            <td class="tl_left">
                                <?php if($vo['type'] == 2):?>
                                <img src="__PUBLIC__/frontend/images/shiwu_tubiao.png"  title="有抵押信用标" alt="有抵押信用标"  class="png_fix"/>
                                <?php else:?>
                                <img src="__PUBLIC__/frontend/images/xinyong_tubiao.png"  title="无抵押信用标" alt="无抵押信用标"  class="png_fix"/>
                                <?php endif;?>
                                <img src="__PUBLIC__/frontend/images/quanbao_tubiao.png" title="平台承诺100%保本" alt="平台承诺100%保本" alt="平台承诺100%保本" class="png_fix"/>
                                    <span><a href="{:customUrl('Loaninfo/index',array('id'=>$v[obj_id]))}" target="_blank" title="{$v['title']}"><?php echo $objs[$v['obj_id']]['title'] ;?></a></span>
                            </td>
                            <td><?php echo forDate($v[create_time])?></td>
                            <td><?php echo num_format($v[money]) ;?> 元</td>
                            <td><?php echo $v[lilv];?> %</td>
                            <td><?php echo $objs[$v['obj_id']]['expires'] ;?> 个月</td>
                            <td><a href="{:customUrl('Loaninfo/index',array('id'=>$v[obj_id]))}" target="_blank" class="list_chakan_but"></a></td>
                        </tr>
                    </foreach>
                     <?php if(count($bid) > 5):?>
                      <!--查看更多-->
                        <tr>
                            <td colspan="6"><a href="{:U('Invest/index')}" target="_blank" class="list_gengduo_but"></a></td>
                        </tr>
                      <!--查看更多-->
                      <?php endif;?>
                      <?php if(empty($bid)):?>
                        <tr>
                          <td colspan="6"><div align="center">无投资记录</div></td>
                        </tr>
                      <?php endif;?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>
