<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <include file="Public:header"/>
        <link href="__PUBLIC__/frontend/css/user.css" type="text/css"  rel="stylesheet" />
    </head>

    <body>
        <include file="Public:main_nav" />
        <div class="yinying_jrb2"></div>
        <!--贷款中心开始-->
        <div class="zhutineirong">
            <!--筛选开始-->
            <div class="woyaojiekuan_t">
                <div class="woyaojiekuan_t01">
                    <div class="woyaojiekuan_tl2">
                        <dl> 
                            <dt><b>{$loan[title]}</b>
                                <span>{$user[u_username]}
                                    <?php foreach($authInfos AS $key=>$vo):?>
                                    <a href="{:U("Help/find4")}{$authTitle[$vo[auth_type]]}" target="_blank"><img src="__PUBLIC__/frontend/images/ico/{$vo.auth_type}_icon.jpg" title="<?php echo $authItems[$vo['auth_type']];?>" alt="<?php echo $authItems[$vo['auth_type']];?>"/></a>
                                    <?php endforeach;?>
                                </span>
                            </dt>
                            <dd>
                                <ul>
                                    <li>标的总额<span style="color:#F00; font-size:24px;"><?php echo num_format($loan[money]);?>元</span></li>
                                    <li>标的类型<span><img <?php if($loan['type'] == 2):?>title="有抵押标" src="__PUBLIC__/frontend/images/shiwu_tubiao.png" <?php else:?>title="无抵押信用标" alt="无抵押信用标" src="__PUBLIC__/frontend/images/xinyong_tubiao.png"<?php endif;?> style=" vertical-align:middle;"/></span></li>
                                </ul>
                            </dd>
                            <dd>
                                <ul>
                                    <li>剩余时间
                                        <?php if($loan['if_full'] == 2):?>
                                        &nbsp;&nbsp;&nbsp;&nbsp;已满标
                                        <?php else:?>
                                        <span class="countdown" data-total="<?php echo $loan[check_time]+24*3600*$loan['loac_days'] ;?>"></span>
                                        <?php endif;?>
                                    </li>
                                    <li>还款期限<span style="color:#F00;">{$loan[expires]}个月</span></li>
                                </ul>
                            </dd>
                            <dd>
                                <ul>
                                    <li>还款方式<span>
                                            <?php if($loan[refund_method]==1):?>
                                            按月分期还款
                                            <?php else:?>
                                            到期还本按月还息
                                            <?php endif;?>
                                        </span><a href="{:U("Help/find4")}#huankuanfangshi" title="还款期内，每月偿还同等数额的借款(包括本金和利息)" target="_blank"><img src="__PUBLIC__/frontend/images/wenhao_info.gif"  title="了解更多"/></a></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="woyaojiekuan_tr2">
                        <div class="tittle_xqkj"><b>投标</b><span><?php echo $_SESSION['username'];?></span><a href="{:U('Loancenter/calculator')}" class="jsq_but04">理财计算器</a></div>
                        <form id="J_Form" action="{:U('Bid/doPost')}" method="post">
                            <input type="hidden" value="{$loan.id}" name="obj_id" />
                            <input type="hidden" value="{$loan[money]}" name="maxBid" />

                            <ul>
                                <li>最多可投金额<p><?php echo num_format($loan[money]);?>元</p></li>
                                <li>账户余额<a href="{:U('charge/show')}">（充值）</a><p>
                                        <?php if($_SESSION['uid']==""):?>
                                        <a href="{:U('Login/index')}" style="font-size:12px">登录</a><font  style="color:#000; font-size:12px">后可见</font>
                                        <?php else:?>
                                        <?php echo num_format($userdata[fund]);?>元</p>
                                    <?php endif;?>
                                </li>
                            </ul>
                            <?php if(!$_SESSION['uid']):?>
                            <div class="chaifentishi"><a href="{:U('Login/index')}" style="font-size:16px;color: #ED994B">登录</a><font  style="color:#000; font-size:16px;margin-left: 5px;">后才可以投标</font></div>
                            <?php else:?>
                            <?php if(isset($bid) && ($bid['create_time']+7200) > time() && $bid['status']!=4 && $loan['if_full'] == 1):?>
                            <input type="button" id="giveup" j_data="{$bid['id']}" value="放弃投标" class="touzi_kj" />
                            <div class="chaifentishi">倒计时：<span id="cuttime" data-total="{$bid['create_time']+7200}" style=" color:#F00"></span></div>
                            <?php elseif($bid['status'] == 4):?>
                            <input type="button"  value="已放弃" class="yimanbiao_kj" />
                            <?php elseif($loan['if_full'] == 1 && !isset($bid) && $loan['status'] != 4):?>
                            <ul>
                                <li style="color:#999">（年利率不能低于{$lilv.minLimit}%）</li>
                                <li style="color:#999">(金额需为50的整数倍)</li>
                                <li>年利率&nbsp;&nbsp;<input name="lilv" id="lilv" maxLength="2" class="biaodan_01" />&nbsp;%</li>
                                <li><input name="fund" maxLength="8" id="fund" class="biaodan_02" />&nbsp;元</li>  
                            </ul>
                            <input type="button" value="投  标" id="doBid"  class="touzi_kj">
                                <div class="chaifentishi">(您所投资的金额可能会被拆分)</div>
                                <?php elseif($loan['if_full'] == 1 && $loan['status'] != 4):?>
                                <div class="yimanbiao_kj">筹&nbsp;&nbsp;款&nbsp;&nbsp;中</div>
                                <?php elseif($loan['if_full'] == 2):?>
                                <div class="yimanbiao_kj">已&nbsp;&nbsp;满&nbsp;&nbsp;标</div>
                                <?php else:?>
                                <div class="yimanbiao_kj">已&nbsp;&nbsp;流&nbsp;&nbsp;标</div>
                                <?php endif;?>
                                <?php endif;?>
                        </form>
                        <!--
                        <div class="tittle_xqkj"><b>理财计算器</b></div>
                        <table class="jisuanqi_lc">
                            <tr>
                                <td>出借金额</td>
                                <td>年利率</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="biaodan_lc" />&nbsp;元<p>出借金额不能为空</p></td>
                                <td><input type="text" class="biaodan_lc" />&nbsp;%<p>年利率不能为空</p></td>
                            </tr>
                            <tr>
                                <td>借款期限</td>
                                <td>还款方式</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="biaodan_lc" />&nbsp;个月<p>借款期限不能为空</p></td>
                                <td><select><option>请选择</option><option>按月分期还款</option></select><p>还款方式不能为空</p></td>
                            </tr>
                        </table>
                        <input type="button" value="开始计算" id=""  class="start_lc">
                        <div class="tittle_xqkj"><b>收益描述</b></div>
                        <table class="jisuanqi_lc">
                            <tr>
                                <td>出借金额<span>500.00元</span></td>
                                <td>应收利息<span>6.30元</span></td>
                            </tr>
                            <tr>
                                <td>月收本息<span>253.10元</span></td>
                                <td>您将于<b>2</b>个月后收回全部本息</td>
                            </tr>
                        </table>
                        -->
                    </div>
                    <div class="clear"></div> 
                </div>
                <!--跟详细内容-->
                <div class="woyaojiekuan_t02">
                	
                    <div class="tittle_jrb002"><b>借款说明</b></div>
                        <div class="jiekuanshuoming_kj" style="text-align: left;"><?php echo str_replace('借款理由：','<br /><br /><span style="color:red;">借款理由：</span>',str_replace('借款用途：','<span style="color:red;">借款用途：</span>',str_replace('还款计划：','<br /><br /><span style="color:red;">还款计划：</span>',$loan['describe']))); ?></div>
                    
                    <?php if(!isset($bid) || $bid['status'] == 4):?>
                    <div class="wenxingtishi_jk">
                        <span><img src="__PUBLIC__/frontend/images/yz_info_bg.gif" style="vertical-align:middle" title="温馨提示" alt="温馨提示"/>（投标后可查看更详细用户信息）</span>
                    </div>
                    <?php else:?>
                    <div class="xyjl_jrb">
                        <div class="tittle_jrb001"><b>信用记录</b></div>
                        <table>
                            <tr>
                                <td>信用总分<p>{$userdata[credit_score]|intval}分</p></td>
                                <td>信用额度<p>{$cre[0][limit]|intval}元</p></td>
                                <td>剩余额度<p>0元</p></td>
                                <td>申请借款<p>{$userdata.loan_count|intval}笔</p></td>
                                <td>成功借款<p>{$userdata.success_loan_count|intval}笔</p></td>
                            </tr>
                            <tr>
                                <td>还清笔数<p>{$userdata.pay_off_count|intval}笔</p></td>
                                <td>借款总额<p>{$userdata.loan_sum|num_format}元</p></td>
                                <td>待还本息<p>0元</p></td>
                                <td>逾期总额<p>{$userdata.overdue_sum|num_format}次</p></td>
                                <td>逾期次数<p>{$userdata.overdue_count|intval}次</p></td>
                            </tr>
                        </table>
                    </div>

                    <div class="shzt_jrb">
                        <div class="tittle_jrb001"><b>审核状态</b></div>
                        <table>
                            <thead>
                                <tr>
                                    <th>审核项目</th>
                                    <th>状态</th>
                                    <th>通过日期</th>
                                    <th>说明</th>
                                    <th>审核说明</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($authInfos AS $key=>$vo):?>
                                <tr>
                                    <td style="text-align:left"><a href="{:U("Help/find4")}#jinrongbaorenzheng" target="_blank"><img src="__PUBLIC__/frontend/images/ico/{$vo.auth_type}_icon.jpg" title="<?php echo $authItems[$vo['auth_type']];?>"/><?php echo $authItems[$vo['auth_type']];?></a></td>
                                    <td><img src="__PUBLIC__/frontend/images/yz_right_bg.gif"  style="vertical-align:middle" title="已认证"/></td>
                                    <td><?php echo forDate($authInfos[1]['pass_time'])?></td>
                                    <td><?php echo $authItems[$vo['auth_type']];?></td>
                                    <td><a href="{:U("Help/find4")}{$authTitle[$vo[auth_type]]}" target="_blank" class="list_chakan_but"></a></td>
                                </tr>
                                <?php endforeach;?>
                            </tbody>
                        </table>
                    </div>

                    <div class="yhda_jrb">
                        <div class="tittle_jrb001"><b>用户档案</b></div>
                        <table>
                            <tr>
                                <td>昵称</td>
                                <td class="line_002"><span>{$user[u_username]}</span></td>
                                <td>公司行业</td>
                                <td class="line_002"><span>{$json.Companyindustry}</span></td>
                                <td>生日</td>
                                <td><span>{$userinfo[birthday]}</span></td>
                            </tr>
                            <tr>
                                <td>公司规模</td>
                                <td class="line_002"><span>{$json.Companyscale}人</span></td>
                                <td>学历</td>
                                <td class="line_002"><span>{$json.schooling}</span></td>
                                <td>居住地址</td>
                                <td><span>{$userinfo[address]}</span></td>
                            </tr>
                            <tr>
                                <td>学校</td>
                                <td class="line_002"><span>{$json.school}</span></td>
                                <td>岗位职位</td>
                                <td class="line_002"><span>{$json.Office}</span></td>
                                <td>婚姻</td>
                                <td><span>{$json.Maritalstatus}</span></td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none">月收入范围</td>
                                <td class="line_002" style="border-bottom:none"><span>{$json.Monthlyincome}</span></td>
                                <td style="border-bottom:none">房产</td>
                                <td class="line_002" style="border-bottom:none"><span><?php if($authInfos[5][status]==3):?>验证通过<?php else:?>未验证<?php endif;?></span></td>
                                <td style="border-bottom:none">车产</td>
                                <td style="border-bottom:none"><span><?php if($authInfos[7][status]==3):?>验证通过<?php else:?>未验证<?php endif;?></span></td>
                            </tr>
                        </table>
                    </div>
                    <?php endif;?>
                    <div class="tx_jrb">
                        <div class="tittle_jrb001">*金融宝及其合作机构将始终秉持客观公正的原则，严控风险，最大程度的尽力确保借入者信息的真实性，但不保证审核信息100%无误。
                            <p>*借入者若长期逾期，其个人信息将被公布。</p></div>
                    </div>
                </div>
                <!--更详细内容结束-->
            </div>
            <!--筛选结束-->
            <!--投资列表开始-->
            <div class="woyaojiekuan_b2">
                <!--右边栏开始-->
                <div class="tab">
                    <a href="{:U('Loaninfo/index',array('id'=>$loan['id']))}"><div <?php if($type != 'hk'):?>class="cur"<?php endif;?> id="tz">加入记录</div></a>
                    <a href="{:U('Loaninfo/index',array('id'=>$loan['id'],type=>'hk'))}"><div <?php if($type == 'hk'):?>class="cur"<?php endif;?> id="tz">还款记录</div></a>
                    <div class="clear"></div>
                </div>
                <div class="xiangqing_kj" id="right_top1">
                    <?php if($_SESSION['uid']==""):?>
                    <div class="jiekuanxiangqing_lkj" align="center">
                        请 <a href="{:U('Login/index')}" style="color:#ED994B">登录</a> 或 <a href="{:U('register/index')}" style="color:#ED994B">注册</a> 后查看</div>
                    <?php else:?>
                    <div class="goto_pay"><a href="#">我&nbsp;要&nbsp;投&nbsp;标</a></div>
                    <div class="jiekuanxiangqing_lkj">
                        <dl>
                            <?php if($type != 'hk'):?>
                            <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投标人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投标金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投标时间</dt>
                            <?php else:?>
                            <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还款人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还款金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还款日期</dt>
                            <?php endif;?>
                            <foreach name="bidRecord" item="vo">
                                <dd>
                                    <ul>
                                        <li>{$vo.username}</li>
                                        <li>{$vo.money}元</li>
                                        <li style="width:150px;">{$vo.create_time|forDate}</li>
                                    </ul>
                                </dd>
                            </foreach>
                            <div align="center">{$page}</div>
                        </dl>
                    </div>
                    <?php if($type != 'hk'):?>
                        <div class="jiekuanxiangqing_rkj">
                            <div class="tittle_xqkj">投标总额<p>{$sum}<span>元</span></p></div>
                            <div class="tittle_xqkj">加入人次<p>{$p_num}<span>人次</span></p></div>
                        </div>
                    <?php else:?>
                        <div class="jiekuanxiangqing_rkj">
                            <div class="tittle_xqkj">还款总额<p>{$sum}<span>元</span></p></div>
                            <div class="tittle_xqkj">还款次数<p>{$p_num}<span> 次</span></p></div>
                        </div>
                    <?php endif;?>
                    <?php endif;?>
                    <div class="clear"></div>
                </div>
                <div class="liuchengtu_jk">
                    <ul>
                        <li><span>1.账户充值</span><img src="__PUBLIC__/frontend/images/shuomingditu_icon.png"  title="下一步"/></li>
                        <li><span>2.挑选投资项目</span><img src="__PUBLIC__/frontend/images/shuomingditu_icon.png" title="下一步" /></li>
                        <li><span>3.投标后查看更多信息</span><img src="__PUBLIC__/frontend/images/shuomingditu_icon.png" title="下一步" /></li>
                        <li><span>4.有两个小时考虑时间是否放弃投标</span><img src="__PUBLIC__/frontend/images/shuomingditu_icon.png" title="下一步" /></li>
                        <li><span>5.等待借款人确认</span><img src="__PUBLIC__/frontend/images/shuomingditu_icon.png" title="下一步" /></li>
                        <li><span>6.轻松赚取收益</span></li>
                    </ul>
                </div>
            </div>


            <!--投资列表结束-->
            <div class="clear"></div>    
        </div>
        <!--贷款中心结束-->
        <include file="Public:footer" />
        <script type="text/javascript">
            var serverTime = "<?php echo time(); ?>" * 1000; //服务器时间，毫秒数 
            $(function() {
                $("#sx").click(function() {
                    $("#tz").removeClass('cur');
                    $("#sx").addClass('cur');
                    $("#right_top1").hide();
                    $("#right_top2").show();
                });
                $("#tz").click(function() {
                    $("#sx").removeClass('cur');
                    $("#tz").addClass('cur');
                    $("#right_top2").hide();
                    $("#right_top1").show();
                });

                var dateTime = new Date();
                var difference = dateTime.getTime() - serverTime;
                var str = '';
                setInterval(function() {
                    $(".countdown").each(function() {
                        var obj = $(this);
                        var endTime = new Date(parseInt(obj.attr('data-total')) * 1000);
                        var nowTime = new Date();
                        var nMS = endTime.getTime() - nowTime.getTime() + difference;
                        var myD = Math.floor(nMS / (1000 * 60 * 60 * 24));
                        var myH = Math.floor(nMS / (1000 * 60 * 60)) % 24;
                        var myH_g = Math.floor(myH % 10);
                        var myH_s = parseInt(myH / 10);
                        var myM = Math.floor(nMS / (1000 * 60)) % 60;
                        var myM_g = Math.floor(myM % 10);
                        var myM_s = parseInt(myM / 10);
                        var myS = Math.floor(nMS / 1000) % 60;
                        var myS_g = Math.floor(myS % 10);
                        var myS_s = parseInt(myS / 10);
                        var myMS = Math.floor(nMS / 100) % 10;

                        if (myD >= 0) {
                            str = "<b>" + myD + "</b>天<b>" + "<b>" + myH_s + myH_g + "</b>小时<b>" + myM_s + myM_g + "</b>分<b>" + myS_s + myS_g + "</b>秒"
                        } else {
                            str = "已流标！";
                        }
                        obj.html(str);
                    });
                }, 1000);

                setInterval(function() {
                    $("#cuttime").each(function() {
                        var obj = $(this);
                        var endTime = new Date(parseInt(obj.attr('data-total')) * 1000);
                        var nowTime = new Date();
                        var nMS = endTime.getTime() - nowTime.getTime() + difference;
                        var myD = Math.floor(nMS / (1000 * 60 * 60 * 24));
                        var myH = Math.floor(nMS / (1000 * 60 * 60)) % 24;
                        var myH_g = Math.floor(myH % 10);
                        var myH_s = parseInt(myH / 10);
                        var myM = Math.floor(nMS / (1000 * 60)) % 60;
                        var myM_g = Math.floor(myM % 10);
                        var myM_s = parseInt(myM / 10);
                        var myS = Math.floor(nMS / 1000) % 60;
                        var myS_g = Math.floor(myS % 10);
                        var myS_s = parseInt(myS / 10);
                        if (myD >= 0) {
                            str = "<b>" + myH_s + myH_g + "</b>小时<b>" + myM_s + myM_g + "</b>分<b>" + myS_s + myS_g + "</b>秒"
                        } else {
                            str = "已过两个小时！";
                        }
                        obj.html(str);
                    });
                }, 1000);

                $("#giveup").click(function() {
                    if (confirm('一旦放弃投标，将无法再投此标，确定要放弃吗?')) {
                        $(this).attr('disabled', 'disabled');
                        $.post("{:U('Bid/unBid')}", {
                            id: $(this).attr('j_data')
                        }, function(data) {
                            alert(data.msg);
                            if (data.code === '10000') {
                                location.reload();
                            }
                            $(this).removeAttr('disabled');
                        }, 'json');
                    }
                });


                $("#doBid").click(function() {
                    if ($("#fund").val() % 50 !== 0) {
                        alert('你输入的金额必须是50的倍数');
                    } else if ($("#lilv").val() === '') {
                        alert('请输入利率！');
                    } else if (!checkLilv()) {
                        alert('利率必须是整数');
                    } else if ($("#fund").val() === '') {
                        alert('请输入金额！');
                    } else if ($("#fund").val() - $("input[name='maxBid']").val() > 0) {
                        alert('你输入的金额不能大于' + $("input[name='maxBid']").val() + '元！');
                    } else {
                        $(this).attr('disabled', 'true');
                        $("#J_Form").submit();
                    }
                });

            });

            function checkLilv() {
                var reg = /^[0-9]*[1-9][0-9]*$/;
                if ($("#lilv").val() !== "" && !reg.test($("#lilv").val())) {
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>
