<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/frontend/css/user.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/frontend/css/base.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/frontend/js/jquery.js" type="text/javascript"></script>
        <style type="text/css">
.wsz {
	color:#a9a9a9
}
.sz {
	color:#CCCCD5;
}
.smyz {
	color:#a9a9a9;
	display:none
}
.tscg {
	display:none
}


</style>
</head>

<body style="background:#FFF">
<div class="aq_iframe">
  <form action="{:U('Safeinfo/txpassadd')}" method="post" id="txadd">
        <p>
          <label for="username"><span style="color:#F00; margin-right:5px;">*</span>交易密码</label>
          <input type="password" class="aqifm_srk" name="txpass" placeholder="6-12位字母、数字、符号"/>
          <span class="tip_aq">
          <font class="smyz txpass">交易密码不能为空!</font>
          <font class="tscg4"></font>
          </span>
        <p>
          <label for="username"><span style="color:#F00; margin-right:5px;">*</span>重复密码</label>
          <input type="password" class="aqifm_srk" name="rtxpass" placeholder="请再次输入您的交易密码"/>
          <span class="tip_aq">
          <font class="smyz rtxpass">重复密码不能为空!</font>
          </span>
        <div class="aqifm_con_but">
          <input name="" type="button" value="提&nbsp;&nbsp;交" class="jrb_but02" id="txaj"/>
        </div>
          </form>
</div>
<script>
//提现密码添加
    $("#txaj").click(function() {
        if ($("input[name='txpass']").val() == "") {
            $(".txpass").show();
        } else {
            $(".txpass").hide();
        }
        if ($("input[name='rtxpass']").val() == "") {
            $(".rtxpass").show();
        } else {
            $(".rtxpass").hide();
        }
        if ($("input[name='txpass']").val() != "" && $("input[name='rtxpass']").val() != "" && txpass()) {
            $.post('{:U("Safeinfo/txpassadd")}', $("#txadd").serialize(), function(data) {
                 $(".tscg4").html(data.msg);
                if (data.code === '10000') {
                    setTimeout(function() {
                       parent.location.reload();
                    }, 1000);
                } 
            },'json');

        }
    })
	//判断添加提现密码长度
function txpass() {
    if ($("input[name='txpass']").val().length > 5 && $("input[name='txpass']").val().length < 13) {
        return true;
    } else {

        $(".tscg4").html("<font color=\"#a9a9a9\">密码必须要6-12位字母、数字和符号！</font>");
        return false;
    }
}
</script>
</body>
</html>
