<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <include file="Public:header" />
        <link href="__PUBLIC__/frontend/css/index.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/frontend/css/lixuena_style.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/frontend/css/user.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!--头部开始-->
        <include file="Public:main_nav" />
        <div class="yinying_jrb2"></div>
        <!--头部内容结束-->
        <div id="content">
            <include file="Public:help_left" />
            <div class="help_right_con">
                <h1>新闻中心</h1>
                <table class="news_liebiao">
                    <?php if(empty($data_list)):?><tr><td colspan="6">暂无新闻资讯信息</td></tr><?php endif;?>    
                    <voList name="data_list" id="vo"> 
                        <tr>
                            <td><img src="__PUBLIC__/frontend/images/ico/news.png" title="新闻" alt="新闻" /><a href="news-{$vo.id}.html" target="_blank" title="{$vo['title']}">{$vo['title']}</a></td>
                            <td class="day">{$vo['create_time']|date="Y-m-d",###}</td>
                        </tr>
                    </volist>
                </table>
                <div class="fanye_xw">
                {$page}
                </div>
                    <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!--底部内容开始-->
        <include file="Public:footer" />
        <!--底部内容结束-->
    </body>
</html>
