<!DOCTYPE html>
<html>
    <head>
        <title>一键导出</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css" />
        <style>
            body{
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <div>   
            <?php foreach($resultSet AS $k=>$v):?>
            <h3>{$k}</h3>
            <table class="pure-table pure-table-bordered" width="100%">
                <thead>
                    <tr>
                        <th width="150">字段名</th>
                        <th width="150">类型</th>
                        <th width="50">主键</th>
                        <th width="50">默认值</th>
                        <th width="100">其他</th>
                        <th width="300">字段说明</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($v AS $key=>$vo):?>
                    <tr>
                        <td>{$vo.Field}</td>
                        <td>{$vo.Type}</td>
                        <td>{$vo.Key}</td>
                        <td>{$vo.Default}</td>
                        <td>{$vo.Extra}</td>
                        <td>{$vo.Comment}</td>
                    </tr>
                    <?php endforeach;?>
                </tbody>
            </table>
            <br /><br />
            <?php endforeach;?>
        </div>
    </body>
</html>
