<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="__PUBLIC__/frontend/css/go_auth.css"  rel="stylesheet" type="text/css"/>
        <link href="__PUBLIC__/frontend/css/base.css"  rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/frontend/css/user.css"  rel="stylesheet" type="text/css" />
        <script src="__PUBLIC__/frontend/js/jquery.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <script type="text/javascript">
        $(function() {

            $("input[name='realname']").mouseout(function() {
                var reg = /^[\u4e00-\u9fa5]+$/;
                if (reg.test($("input[name='realname']").val())) {
                    $(".tscg1").html("<font color=\"red\"></font>");
                } else {
                    $(".tscg1").html("<font color=\"red\">真实姓名必须是中文!</font>");
                }
            })

            $("input[name='idcard']").mouseout(function() {
                var reg = /[1-9]([0-9]{14}|[0-9]{17})$/;
                if (reg.test($("input[name='idcard']").val())) {
                    $(".tscg2").html("<font color=\"red\"></font>");
                } else {
                    $(".tscg2").html("<font color=\"red\">身份证格式不正确!</font>");
                }
            })



        })


    </script>

    <body>
        <div id="myOnPageContent">
            <div class="auth">
                <div class="auth_top"> 
                <div class="jiekuanxiangqing_lkj">
                        <div class="tittle_xqkj"><b>用户档案</b></div>
                        <?php if($_SESSION['uid']==""):?>
                        <table >
                            <tr align="center"><td>
                                    请 <a href="{:U('Login/index')}" style="color:#ED994B">登录</a> 或 <a href="{:U('register/index')}" style="color:#ED994B">注册</a> 后查看</td></tr> </table>
                        <?php else:?>
                        <table>
                            <tr>
                                <td>昵称<span>{$userinfo.real_name}</span></td>
                                <td>身份证<span>{$userinfo.id_card}</span></td>
                            </tr>
                            <tr>
                                <td>生日<span>{$userinfo[birthday]}</span></td>
                                <td>公司规模<span>{$json.Companyscale}</span></td>
                            </tr>
                            <tr>
                                <td>学历<span>{$json.schooling}</span></td>
                                <td>居住地址<span>{$userinfo.local}</span></td>
                            </tr>
                            <tr>
                                <td>学校<span>{$json.school}</span></td>
                                <td>岗位职位<span>{$json.job_info}</span></td>
                            </tr>
                            <tr>
                                <td>婚姻<span>{$json.Maritalstatus}</span></td>
                                <td>月收入范围<span>{$json.Monthlyincome}</span></td>
                            </tr>
                            <tr>
                                <td>房产<span><?php if($fz[status]==3):?>验证通过<?php else:?>未验证<?php endif;?></span></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>车产<span><?php if($cc[status]==3):?>验证通过<?php else:?>未验证<?php endif;?></span></td>
                            </tr>
                        </table>
                        <?php endif;?>
                        <div class="clear"></div>
                    </div>
              

                </body>
                </html>
