<!DOCTYPE html>
<html>
    <head>
    <include file="Public:header" />
    <link href="__PUBLIC__/frontend/css/index.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/frontend/css/lixuena_style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/frontend/css/user.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--头部开始-->
<include file="Public:main_nav" />
<div class="yinying_jrb2"></div>
<!--头部内容结束-->
<div id="content">
    <include file="Public:help_left" />
    <div class="help_right_con">
        <div class="t_nav">
            <?php if(!empty($prev)):?>
            <a href="news-{$prev.id}.html">上一篇</a>
            <?php else:?>
            <a href="javascript:void(0);">上一篇</a>
            <?php endif;?>
            
            <?php if(!empty($next)):?>
            <a href="news-{$next.id}.html">下一篇</a>
            <?php else:?>
            <a href="javascript:void(0);">下一篇</a>
            <?php endif;?>
        </div>
        <h1 class="c_titile">{$newsinfo['title']}</h1>
        <p class="box_wz">发布时间：{$newsinfo['create_time']|date="Y-m-d",###}<span>编辑：{$newsinfo['author']}</span></p>
        {$newsinfo['content']}
    </div>
    <div class="clear"></div>
</div>
<!--底部内容开始-->
<include file="Public:footer" />
<!--底部内容结束-->
</body>
</html>
