@charset "utf-8";
/* CSS Document */

body,div,dl,dd,dt,ul,li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td,button,p,span{ padding:0; margin:0;}
body{font-size:14px; line-height:20px; font-family: "微软雅黑", Arial, sans-serif; color: #666; background:#fafafa}
fieldset,img{ border:0;}
input,lable,select,option,textarea,button,fieldset,legend{ font:14px/18px Verdana, Simsun, Helvetica, Arial, sans-serif,;}
input,button{border:0px;vertical-align:middle; border:1px solid #999999; width:210px; height:25px; line-height:25px;}
ul,li{ list-style-type:none;}
.f_l{ float:left;}
.f_r{ float:right;}
.clear{ clear:both;}
a{color: #666; text-decoration:none;}	
a:hover{ color: #333; text-decoration: none;}
body { behavior:url("csshover.htc");}
.clearfix { clear: both;}
a:-webkit-any-link { text-decoration: none;}


/*头部样式*/

.hengtiao{ width:100%; height:30px; background:#ed994b}
.top_bg{ width:100%; height:auto; background:#fafafa}
.top { width:1000px; height:auto; margin:0 auto; margin-top:25px; margin-bottom:25px}
.jinrongbao_logo{ width:195px; height:67px; float:left;}
.daohang{ width:540px; float:left; padding-top:45px; font-size:18px; margin-left:30px}
.daohang ul li{ float:left; padding-left:20px; border-left:solid 1px #e6e6e6; margin-right:20px}
.wenhou{ float:right; text-align:right}
.wenhou span{ color:#ed994b; font-size: 24px}
.wenhou p{ margin-top:25px; font-size:18px}
.wenhou a{ color:#ed994b;}

/*头部样式*/


/*底部*/

.footer_bg { border-top: 1px solid #ed994b; width:100%; height:auto}
.footer{ width:1000px;  height:auto; margin:0 auto}
.foot1 { height:auto; border-bottom: 1px solid #a7a7a7; margin-top:25px; padding-bottom:25px}
.footer .foot_r { float: right;width:500px;}
.footer .foot_r .title { font-size: 16px; color: #6f6f6f; font-weight: 300px; }
.footer .foot_r ul { margin-top: 15px; text-align:right}
.footer .foot_r ul li { display: inline; margin-right:10px }


.footer .foot_l { float: left; width:500px}
.footer .foot_l .title { font-size: 16px; color: #6f6f6f; font-weight: 300px;  }
.footer .foot_l ul { margin-top: 15px;}
.footer .foot_l ul li { display: inline;}

.footer .foot2 { text-align: center; margin-top: 25px; padding-bottom:25px}
.footer .foot2 ul{ width:500px; height:auto; float:left; margin-left:265px}
.footer .foot2 ul li { float:left; border-left:solid 1px #e6e6e6; width:120px ;font-size: 18px;}

.footer .foot2 p { color: #a7a7a7; margin-top: 5px; width:1000px; height:auto; float:left}

/*底部*/
