/* CSS-document*/

/*广告样式*/
.ad_bg{width:100%; height:auto; background:#e8e9eb;}
.ad { width:1000px; height:390px; margin:0 auto; background:url(../images/ad1.png)}
.login { background: #333333; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; width: 280px; height: 300px; float:right; margin-top:25px}
.login .title { font-size: 17px; color: white; margin-left: 20px; padding-top: 20px;}
.login ul li{ float:left}
.login form { margin-top: 25px; }
.login img { margin-left: 20px;  float:left; margin-top: 15px;}
.login input { width: 200px; height:39px; margin-top: 15px; line-height: 37px;  }

.login .forget a { color: white; float: right; margin-top: 13px; font-size: 14px; margin-right: 15px; }
.login .forget .free_reg{ color: orange}
.login .sub{ margin-left:40px; font-size:18px}

/*首页三大服务版块类*/
.box_bg{ width:100%; height:auto; background:#fafafa}
.box_middle{ width:1000px; height:auto; margin:0 auto; padding-top:45px; padding-bottom:45px;}
.box{ width:280px; height:auto; margin-left:25px; margin-right:25px; float:left;}

.box dl dt{ margin-left:100px; margin-bottom:25px}
.box dl dd h2{ margin-bottom:25px;text-align:center}
.box dl dd p{ text-indent:28px; text-align:left}


/*借贷列表*/
.liebiao_bg{ width:100%; height:auto; background:#fafafa;}
.main3 { width:1000px; border: 1px solid #e6e6e6; margin-top:25px;height: auto; margin:0 auto; background:#FFF; margin-bottom:45px }
.main3 .title { color: black; margin-left: 24px; margin-top: 20px;}
.main3 p span { font-size: 18px;  position: relative; left:11px; top: -5px; font-weight: 400px;}

.main3 .list_item { color: #FFF; font-size: 18px; width:1000px; height:50px; background:#ed994b; line-height:50px ; margin-top:25px;}
.main3 .list_item ul{margin-left: 145px;}
.main3 .list_item ul li { width:122px; display: inline; float:left}
.main3 .list { width:1000px; height: auto; }
.main3 .list ul { margin-left: 50px; border-bottom:solid 1px #e6e6e6; width:900px; padding-top:25px; padding-bottom:25px}
.main3 .list ul:hover{ background:#fafafa}
.main3 .list ul li { float:left; line-height: 30px; display: inline; margin-left: 18px; width:auto; height: 30px; }
.main3 .list span { position: relative; top: -5px; left: 4px; font-size: 15px;}
.main3 .list .first{ width:225px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.main3 .list .second { width:75px;}
.main3 .list .third { width:100px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.main3 .list .four {width:100px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.main3 .list .five{ width:100px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.main3 .list .six {width:100px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.main3 .more { text-align: center; margin-bottom:25px; margin-top:25px}


/*底部*/
